body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.bod {
  background-image: url("https://images.unsplash.com/photo-1547082299-de196ea013d6?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzMzYyNjV8MHwxfGFsbHx8fHx8fHx8fDE3MzgyMzYxNjV8&ixlib=rb-4.0.3&q=80&w=1080");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.header-content {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
}

nav {
  display: flex;
 
  gap: 100px;
}

.button {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

main {
  margin-top: 100px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
}
